@media (min-width: 320px) {

.block4__inner{
    display: flex;
    flex-direction: column;
}

img{
    width: 440px;
    height: 173px;
    object-fit: cover;
    margin-bottom: 34px;
}

.block4__title-1{
    width: 252px;
    flex-direction: column;
    text-transform: uppercase;
    margin: 0 auto;
    line-height: 24px;
    margin-bottom: 30px;
}

.block4__title-1--text{
    width: 250px;
    font-size:18px;
} 

.block4__subtitle{
    margin: 0 auto;
    margin-bottom: 17px;
}

.block4__subtitle--desc{
    margin: 0 auto;
    margin-bottom: 35px;
}

.block4__title-2{
    width: 284px;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 34px;
}

.block4__title-2--desc{
    width: 290px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.block4__item-title{
    text-transform: uppercase;
}

.block4__item{
    margin-bottom: 30px;
}

}