$maintextcolor: #ffffff;
$greytextcolor: #afb0b3;
$blackcolor: #000000;
$secondgreytextcolor:#3f4144;
$maincolor:#ff6b08;
$markertextcolor: #16ebfe;
$backgroundcolor:#181c27;

%acrom-regular {
  font-family: 'Acrom',sans-serif;
  font-weight: 400;
}

%acrom-bold {
  font-family: 'Acrom',sans-serif;
  font-weight: 700;
}

%acrom-extrabold {
  font-family: 'Acrom',sans-serif;
  font-weight: 800;
}

img{
   max-width:100%;
   height: auto;
   display:block; 
}
