@import "./320.scss";
@import "./768.scss";
@import "./1200.scss";

.longline {
    padding-left: 37px;
}
  
.visually-sd-hiden {
    display: none;
}

.block2__sectioninner-text {
    padding-top: 56px;

}

.block2__item-propose {
    color:$maincolor:#ff6b08;
}