.text {}

.title {
  font-size: 37px;
  color: $blackcolor;
  @extend %acrom-bold;
  margin-left: 39px;
  display: flex;
  justify-content: center;
}
.description {
  display: flex;
  justify-content: center;
}
.rectangle {
  background: $blackcolor;
  width: 20px;
  height: 3px;
  margin-left: 5px;
  margin-right: 15px;
  margin-top: 37px
}
.text-description {
  font-size: 21.587px;
  @extend %acrom-regular;
  color: $blackcolor;
  width: 427px;
  line-height: 1.3;

}
.bgr {
  background:$blackcolor;
  color: $maintextcolor;
}
.description {
  display: flex;
  margin-bottom: 30px;
}
.slider {
  display: flex;
  justify-content: center;
}
.slide {
  display: flex;
  width: 450px;
  box-shadow: 0px 15px 40px -4px $secondgreytextcolor;
  margin-left: 5px;

}
.photo {
    margin-top: 18px;
    margin-right: 45px;
    margin-left: 30px;
}
img {
  height: 139px;
  max-width: 139px;
}
.article {
  font-size: 14px;
  @extend %acrom-regular;
  color: $secondgreytextcolor;
  overflow-y: scroll;
  height: 300px;
}
.name {
  font-size: 14px;
  @extend %acrom-regular;
  color: $blackcolor;
  font-weight: bold;
  text-transform: uppercase;
}
