.block-5_title {
  font-size: 20px;
  color: $blackcolor;
  @extend %acrom-extrabold;
  margin-left: 120px;
  display: flex;
  justify-content: center;
  width: 246px;
  margin-left: auto;
  margin-right: auto;
   &::before {
     margin-right: 4px;
     margin-left: 15px;
   }
   &::after {
     margin-top: 23px;
     margin-left: 3px;
   }
}
.block-5_description {
  display: flex;
  justify-content: center;
}


.block-5_rectangle {
  background: $blackcolor;
  width: 20px;
  height: 2px;
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 22px;
}
.block-5_text-description {
  font-size: 14.587px;
  @extend %acrom-regular;
  color: $blackcolor;
  width: 284px;
  line-height: 1.444;
  font-weight: 600;

}
.block-5_bgr {
  background:$blackcolor;
  color: $maintextcolor;
}
.block-5_description {
  display: flex;
  margin-bottom: 30px;
  margin-top: -8px;
}
.navigation-slider {
  position: relative;
}
.block-5_slider {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}
.block-5_slide {
  display: flex;
  width: 329px;
  height: 241px;
  box-shadow: 0px 15px 40px -4px $secondgreytextcolor;
  margin-left: 27px;

}
.block-5_photo {
    margin-top: 18px;
    margin-right: 17px;
    margin-left: 18px;
}
.block-5_photo_Nina {
  height: 60px;
  margin-bottom: 10px
  // max-width: 139px;
}
.block-5_article {
  font-size: 7px;
  margin-top: 16px;
  @extend %acrom-bold;
  color: $secondgreytextcolor;
  overflow-y: scroll;
  height: 206px;
  line-height: 1.714;
}
#block-5_scroll::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: $greytextcolor;
}
#block-5_scroll::-webkit-scrollbar-thumb {
  width: 3px;
  height: 3px;
  background: $blackcolor;
}


.block-5_name {
  font-size: 6px;
  @extend %acrom-extrabold;
  color: $blackcolor;
  margin-left: 1px;
  text-transform: uppercase;
}
.block-5_slider_pointer {
  display: flex;
  justify-content: space-between;
  width: 380px;
  margin-left: 30px;
  margin-top: 230px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
.block-5_pointer_numbering {
  display: flex;
  text-decoration: none;
  font-size: 18px;
  @extend %acrom-bold;
  margin-left: -22px;
}
.block-5_number {
  margin-top: 5px;
  margin-left: 16px;
  font-size: 10px;
  cursor: pointer;
  text-decoration: none;
   &:hover {
     font-size: 15px;
     margin-top: 0px;
     text-decoration:line-through;
   }

}
.block-5_pointer_arrows {
  display: flex;
  text-decoration: none;
  margin-right: 50px;
}
.block-5_arrow {
  background-color: $blackcolor;
  margin-top: -5px;
  border: 1px solid $greytextcolor;
  height: 21px;
  max-width: 21px;
  cursor: pointer;
}
