@media (min-width:1200px){

    .block05{
        padding-bottom:146px;
    }

    .block05__slider{
        width:66%;
    }

    .block05__article {
        font-size: 10px;
    }

    .block05__slider{
        height:345px;   
    }

    .block05__slider{
        padding: 30px 26px 28px 30px;
    } 

    .block05__name {
        font-size: 8px;
    }
}