@media (min-width: 768px) {
  .hidden {
    &-tab {display: none;}

    &-mob {display: inline;}
  }

  .menu {
    margin-bottom: 50px;
    padding-top: 20px;

    &__button {
      width: 13px;
      height: 100%; 
    }

    &__icon {
      width: 100%; 
      height: 9px;
    }
  }

  .header { 
    text-align: left;
    padding-bottom: 96px;

    &::before {
      font-size: 235px;
      text-align: center;
    }

    &__bgimage {
      position: absolute;
      display: block;
      margin: 0;
      padding: 0; 
      bottom: 0;
      left: 50%;
      transform: translateX(-20%);
      z-index: 0;
    }

    
    &__wrapper-content {
      position: relative;
      display: flex;
      margin-bottom: 26px;

      &::before {
        position: absolute;
        bottom: -100px;
        left: 0;
        display: block;
        content: "01 _";
        color: $maintextcolor; 
        @include text-family("acrom",400);  
        @include text-size(13px,10px);
        text-align: left;
        transform: rotate(-90deg);
      }
      
      
    }

    &__wrapper-title {
      max-width: 366px;
      margin: 0;
    }

    &__title {
      position: relative;
      display: inline;
      font-size: 45px;
      max-width: 350px;
      text-align: left;
      margin: 0;
      margin-bottom: 32px;

      &::before, &::after {
        font-size: 45px;
      }

      &-descr {
        color: $maintextcolor;
        @include text-size(9px,13px);
        max-width: 220px;
        margin-left: 40px;
        margin-top: 32px;
        padding-left: 18px;
        padding-right: 24px;

        &::before, &::after {
          @include text-size(13px,17px);  
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          right: 0; 
          bottom: 0;
        }
      }
    }

    &__wrapper-descr {
      position: relative;
      max-width: 150px;
      margin: 0;
      margin-left: auto;
    }

    &__subtitle {
      color: $maintextcolor;
      @include text-size(10px,17px);  

      &-descr {
        @include text-size(10px,13px);
      }
    }
     
    &__button {
      box-shadow: 0px 7px 10px 0px rgba(196, 87, 15, 0.26);
      @include orange-button(7px, 10px, 8px, 9.5px);
      margin-left: 58px;
    }
  }
  
  .socials {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 26px;
    width: 52px; 
    margin: 0 -10px -10px 0; 
  
    &__link {
      box-sizing: border-box;
      display: flex;
      justify-content: center;  
      align-items: center;
      width: 26px;
      height: 26px;
      padding: 8px; 

      &:hover .socials__icon {
        fill: #17ecff;
        transition: fill 0.2s linear;
      }
    }
  
    .socials__icon {
      display: block;
      width: 100%;
      height: 10px;
      fill: $maintextcolor;
    
      transition: fill 0.2s linear;
    }
  }
}
