@import "./320";
@import "./768";
@import "./1200";

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
  margin-bottom: 15px;

  &__button {
    background-color: transparent; 
  }

  &__icon {
    margin: 3px 0;
  }
}

.header {
  position: relative;  
  color: $maintextcolor;
  z-index: 1;
  text-align: center;
  
  background: url('../images/header/bgimage.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: $backgroundcolor;

  &__bgtext {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-33%);
    @extend %acrom-extrabold;
    font-size: 120px;
    color: $blackcolor;
    opacity: 0.2;
    z-index: -2;
  }


  &__wrapper-title {
    max-width: 424px;
    margin: 0 auto;    
    margin-bottom: 155px;
  }

  &__title { 
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 33px;
    @extend %acrom-extrabold;
    color: $maintextcolor;
    font-size: 30px;
    line-height: 1.333; 

    &::before,
    &::after { 
      color: $maintextcolor;
      font-size: 30px; 
    }
  }

  &__title-descr {
    position: relative;
    text-transform: uppercase;
    font-size: 13.5px;
    line-height: 19.5px;
    letter-spacing: -0.5px;
    @extend %acrom-bold;
    padding: 0 26px;
    margin: 0;

    &::before {
      position: absolute;
      top: 2px;
      left: 6px;
      content: "\003C";
      color: #17ecff;
      @extend %acrom-extrabold;
      font-size: 22.5px;
      line-height: 11.5px;
    }

    &::after {
      position: absolute;
      bottom: 4px;
      right: -4px;
      content: "/\003E";
      color: #17ecff;
      @extend %acrom-extrabold;
      font-size: 22.5px;
      line-height: 11.5px;
    }
  }

  &__wrapper-descr {
    max-width: 364px;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  &__subtitle {
    text-transform: uppercase;
    font-size: 13.5px;
    line-height: 19.5px;
    @extend %acrom-extrabold;
    text-align: left;
    margin: 0;
    margin-bottom: 5px;
  }

  &__subtitle-descr { 
    font-size: 13.5px;
    line-height: 19.5px; 
    @extend %acrom-regular;
    text-align: left;
    color: $greytextcolor;
    margin-bottom: 35px;
    margin: 0;
  }
  
  &__wrapper-button {
    padding-bottom: 40px;
  }

  &__button {
    margin: 0 auto;
    width: 219px;
    height: 55px;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1.5px;
  }

}


.header .menu__button { 
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

