.block06__content-inner * {
    margin:0;
}

.block06__content-inner {
    padding: 0 70px;
    margin-bottom: 66px;

}
.block06__img {
    display: none;
}

.block06__list-title {
    @extend %text1319;
}

.block06__headline {
    // text-align: center;
    // max-width: 80%;
    padding-left: 40px;
    margin-bottom: 20px;
}

.block06__subheadline-inner {
    //padding-left: 28px;
    margin-bottom: 32px;
}
.block06__list {
    padding-left: 0;
}

.block06__list-element {
    margin-bottom: 12px;
}