.block06{
    padding-bottom: 46px;
}


.block06__headline-inner {
    max-width: 234px;
    margin: 0 auto;
    padding-left: 34px;

}

.block06__subheadline-inner {
    max-width: 234px;
    // padding-left: 10px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.block06__subheadline {
    margin: 0;
}

.block06_list-title {
    @extend %text1319;
    margin: 0;
    padding-bottom: 10px;
}

.block06_list {
    padding-left: 14px;
    margin: 0 auto;
    max-width: 320px;
}

.block06__list-text {
    margin: 0;
    padding-bottom: 10px;
}

