@import "./320";
@import "./768";
@import "./1200";

<<<<<<< HEAD

.block07 {
  &__wrapper-descr {
    display: flex;
    flex-direction: column;
=======
.longline {
  padding-left: 37px;
}

.visually-sd-hiden {
  display: none;
}

.block07 { 
  &__wrapper-title {
    margin-bottom: 16px;
  }

  &__wrapper-titletext {
    padding-left: 39px;
    margin-bottom: 30px;
  }

  &__title {
    max-width: 210px;
    padding-left: 37px;
    margin: 0;
    margin-bottom: 10px;
  }

  &__subtitle { 
    margin: 0;
    max-width: 376px;
    @extend %acrom-extrabold;
    @extend %text1319;
  }


  &__wrapper-descr {
    display: flex; 
    flex-wrap: wrap;
  }

  &__descrimage {
    margin-bottom: 20px;
  }

  &__article {
    padding: 0 39px;
  }

  &__wrapper-articletitle {
    max-width: 200px;
    margin-bottom: 15px;
    font-size: 0; 
    
    /* обнуляю фонт сайз специально, наследуется и ужастно работает с инлайн элементами 
      для проверки отключи этот стиль на 768пх */
  }

  &__articletitle {
    display: inline;
    @extend %text1319;
  }

  &__articletext {  
    margin: 0;
    @extend %text1319;

    &--firstbold {
      margin-bottom: 10px;
      @extend %acrom-bold;
    }

    &--lightgrey {
      @extend %acrom-medium;
      color: $secondgreytextcolor;
    }
>>>>>>> master
  }

  &__article--sdfirst {
    order: -1;
<<<<<<< HEAD
  }
}
=======
    margin-bottom: 40px;
  }
}
>>>>>>> master
