@import "./320";
@import "./768";
@import "./1200";

.longline {
  padding-left: 38px;
}

.block07 { 
  &__wrapper-title {
    margin-bottom: 16px;
  }

  &__wrapper-title-text {
    padding-left: 40px;
  }

  &__title {
    max-width: 170px;
    padding-left: 38px;
  }

  &__subtitle { 
    max-width: 360px;
    @extend %acrom-extrabold;
    @extend %text1319;
  }

  &__wrapper-descr {
    display: flex;
    flex-direction: column;
  }

  &__article {
    padding: 0 40px;
  }

  &__articletitle {
    display: inline;
    @extend %text1319;
  }

  &__articletext { 
    max-width: 340px;
    @extend %acrom-medium;
    @extend %text1319;

    &--bold {
      @extend %acrom-extrabold;
    }

    &--lightgrey {
      color: $secondgreytextcolor;
    }
  }

  &__article--sdfirst {
    order: -1;
  }
}

.block07__wrapper-articletitle {
  max-width: 180px;
}