.block9__main-title {
    padding-bottom: 20px;
    font-size: 18px;
}

.block9__sectioninner-text {
    margin: 0 18px;
}

.block9__sectioninner-items {
    margin: 0 40px 0 40px;
}

.block9__list {
    position: relative;
    padding: 0;
}

