@import "./320";
@import "./768";
@import "./1200";

.longline {
    padding-left: 37px;
}
  
.visually-sd-hiden {
    display: none;
}

.block9 {
    padding-bottom: 58px;
}

.block9-main-title-part1::before,.block9-main-title-part2::after{
    font-size: inherit;
    line-height: inherit;
    font-family: "Acrom";
    color:inherit; 
    font-weight: inherit;
    text-transform: uppercase;
    line-height: inherit;
    background-color: inherit;
}

.block9-main-title-part1,.block9-main-title-part2 {
    margin:0;
}

.block9-main-title-part2 {
    width:230px;
}


.block9-main-title-part1::before{
    content: "\005b  ";  
        
}

.block9-main-title-part2::after{
    content: " \005d";
}

@media (min-width: 768px) {
  .bblock9-main-title {
    font-size: 27px;
    line-height: 1.246;
  }
}
  
.block9__main-title {
    padding-top: 50px;
    margin: 0 auto;
}

.block9-main-title-part1 {
    text-transform: uppercase;
}

.block9-main-title-part2 {
    margin: 0 auto;
}

.block9__sectioninner-items {
    padding-top: 60px;
}

.block9__item {
    margin: 0;
    padding-bottom: 30px;
}

.block9__item-title {
    margin:0;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.block9__item-text {
    margin:0;
}

.block9__item-conclusion {
    margin:0 auto;
    font-size: 12px;
    padding-bottom:0;
}
